.play-layout {
    width: 90%;
    max-width: 1920px;
}

.masonry-element {
    display: flex;
    margin: 32px;
    width: 28%;
    img {
        width: 100%;
        height: 100%;
    }
    video {
        width: 100%;
        height: 100%;
    }
}

.play-center {
    display: flex;
    width: 100vw;
    justify-content: center;
}