[type=all] {
    display:block;
    [filter="all"] {
        color:pink;
    }
}
[type=visual] {
    [filter="visual"] {
        color:pink;
    }
    [type] {
        display:none;
    }
    [type=visual] {
        display:block;
    }
}
[type=product] {
    [filter="product"] {
        color:pink;
    }
    [type] {
        display:none;
    }
    [type=product] {
        display:block;
    }
}