@define-mixin theme $color {
    @mixin smalltitle $color;
}
@define-mixin smalltitle $color {
        font-family: aktiv-grotesk-extended, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 56px;
        color:$color;
        line-height: 1.5;

}
