[type=aboutpage] {
    display: flex;
    max-width: 1920px;
    [type=vanity] {
        width: 540px;
        height: auto;
        margin-right: 96px;
        img {
            width: 100%;
            height: auto;
        }
    }
}

[type=aboutblocks] {
    display: flex;
    flex-direction: column;
    width: 540px;
}